@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	font-display: swap;
}

:root [data-theme='modern'] {
	--theme-font-family-heading: 'Inter', system-ui, sans-serif;
	--theme-font-family-base: 'Inter', system-ui, sans-serif;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
}

.section {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.section-divider {
	border-top: 1px solid rgb(var(--color-surface-700) / 0.3);
}
